[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
anthropic = "*"
flask = "*"
pytube = "*"
speechrecognition = "*"
moviepy = "==1.0.3"

[dev-packages]

[requires]
python_version = "3.12"
